.petentium {
  position: relative;
  letter-spacing: 5px;
  line-height: 125%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 74px;
}
.petentiumWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--color-green-100);
}
.contentiones {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 125%;
  font-weight: 700;
  font-family: inherit;
}
.contentionesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--typography-heading-bold-1-size);
  font-family: var(--typography-heading-bold-4);
}
.loremIpsumDolor {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.adipisicingElit {
  margin: 0;
}
.zrilPetentiumSitContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--typography-sub-heading-regular-size);
  line-height: 125%;
}
.frameDiv {
  width: 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.frameContainer,
.pricingHeader {
  align-self: stretch;
  flex-direction: row;
}
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.pricingHeader {
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameGroup,
.frameWrapper,
.pricingHeader {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1227px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 78px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--typography-label-bold-size);
  color: var(--text-black);
  font-family: var(--typography-sub-heading-regular);
}
.frameParent,
.serivces {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: 35px;
  max-width: 100%;
}
.serivces {
  width: 100%;
  position: relative;
  background-color: var(--color-white-100);
  overflow: hidden;
  align-items: flex-start;
  gap: 135px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .pricingHeader {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1025px) {
  .contentiones {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    gap: 39px;
  }
  .frameParent {
    gap: var(--gap-mid);
  }
  .serivces {
    gap: var(--gap-48xl);
  }
}
@media screen and (max-width: 450px) {
  .contentiones {
    font-size: var(--typography-heading-bold-4-size);
    line-height: 30px;
  }
  .zrilPetentiumSitContainer {
    font-size: var(--typography-label-bold-size);
    line-height: 20px;
  }
  .frameGroup {
    gap: var(--gap-lgi);
  }
  .serivces {
    gap: 34px;
  }
}
