.contentiones {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 125%;
  font-weight: 700;
  font-family: inherit;
}
.contentionesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.loremIpsumDolor {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.adipisicingElit {
  margin: 0;
}
.zrilPetentiumSitContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--typography-sub-heading-regular-size);
  line-height: 125%;
  font-family: var(--typography-sub-heading-regular);
}
.main {
  width: 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--typography-heading-bold-1-size);
  color: var(--text-black);
  font-family: var(--typography-heading-bold-4);
}
@media screen and (max-width: 1050px) {
  .contentiones {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .contentiones {
    font-size: var(--typography-heading-bold-4-size);
    line-height: 30px;
  }
  .zrilPetentiumSitContainer {
    font-size: var(--typography-label-bold-size);
    line-height: 20px;
  }
}
