.frameChild {
  height: 299px;
  width: 279px;
  position: relative;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white-100);
  display: none;
}
.detailsChild {
  height: 175px;
  width: 175px;
  position: relative;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.pegLegge {
  position: relative;
  line-height: 125%;
  display: inline-block;
  min-width: 99px;
}
.ceo,
.info {
  align-self: stretch;
}
.ceo {
  position: relative;
  font-size: var(--typography-body-regular-size);
  line-height: 19px;
  font-family: var(--typography-sub-heading-regular);
  color: var(--color-dark-75);
}
.info {
  flex-direction: column;
  gap: var(--gap-mid);
}
.info,
.member,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.member {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
  z-index: 1;
}
.rectangleParent {
  width: 279px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white-100);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-19xl) var(--padding-lgi);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--typography-heading-bold-4-size);
  color: var(--color-dark);
  font-family: var(--typography-heading-bold-4);
}
@media screen and (max-width: 450px) {
  .pegLegge {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
}
